header {
	background: #bbbbbb;
	padding: 20px 0;
}

.caixa {
	position: relative;
	width: 940px;
	margin: 0 auto;
}

nav {
	position: absolute;
	top: 110px;
	right: 0;
}

nav li {
	display: inline;
	margin: 0 0 0 15px;
}

nav a {
	text-transform: uppercase;
	color: #000000;
	font-weight: bold;
	font-size: 22px;
	text-decoration: none;
}

nav a:hover {
	color: #c78c19;
	text-decoration: underline;
}

#banner {
	width: 100%;
}

.principal {
	background: #cccccc;
	padding: 30px;
}

.titulo-principal {
	padding-left: 20px;
}

.titulo-centralizado {
	text-align: center;
}

p {
	text-align: center;
}

#missao {
	font-size: 20px;
}

em strong {
	color: #ff0000;
}

.itens {
	font-style: italic;
}

.beneficios {
	background: #ffffff;
	padding: 20px;
}

.itens-beneficios {
	display: inline-block;
	vertical-align: top;
	width: 20%;
	margin: 30px;
}

.imagem-beneficios {
	width: 50%;
}

footer {
	text-align: center;
	background: url("../img/bg.jpg");
	padding: 40px 0;
}

.copyright {
	color: #ffffff;
	font-size: 13px;
	margin: 20px 0;
}
